@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Los mejores precios disponibles para cualquier negocio en línea
    Crearemos cualquier política que desee por un precio muy accesible, hecha específicamente para su negocio.

    Contratar a un abogado tiene un costo muy alto, y nuestro servicio funciona más allá de las especulaciones y da los mismos resultados por solo una parte del costo.
</p>
